[package]
name = "clircle"
version = "0.1.0"
authors = ["Niklas Mohrin <niklas.mohrin@gmail.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
description = "Detect IO circles in your CLI apps arguments."
homepage = "https://github.com/niklasmohrin/clircle"
repository = "https://github.com/niklasmohrin/clircle"
documentation = "https://docs.rs/clircle"
readme = "README.md"
categories = ["command-line-interface", "filesystem", "os"]
keywords = ["cycle", "arguments", "argv", "io"]

[features]
default = ["serde"]

[dependencies]
serde = { version = "1.0.117", optional = true, features = ["derive"] }

[target.'cfg(not(windows))'.dependencies]
nix = "0.19.0"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", features = ["winnt", "winbase", "processenv", "handleapi", "ntdef", "fileapi"] }
